<%= turbo_frame_tag dog do %>
  <div class="row py-2 border-top">
    <div class="col-4 my-auto">
      <%= dog.name %>
    </div>
    <div class="col-4 my-auto">
      <%= dog.age %>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <%= link_to "編集", edit_dog_path(dog), class: "btn btn-sm btn-outline-primary me-2" %>
        <%= link_to "削除", dog, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-danger" %>
      </div>
    </div>
  </div>
<% end %>
