<%= turbo_frame_tag dog do %>
  <%= bootstrap_form_with(model: dog) do |form| %>
    <div class="row py-2 border-top">
      <div class="col-4">
        <%= form.text_field :name %>
      </div>
      <div class="col-4">
        <%= form.number_field :age %>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-end">
          <%= form.primary %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
