<p style="color: green"><%= notice %></p>

<%= render @dog %>

<div>
  <%= link_to "編集", edit_dog_path(@dog) %> |
  <%= link_to "戻る", dogs_path %>

  <%= button_to "削除", @dog, method: :delete %>
</div>
